# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

data/raw/scopus/
data/ipcc/raw/
data/policymap/
data/logs/
data/predictions/
data/topics/
data/embeddings/
data/coords/

# DVC
.dvc/config.local
.dvc/tmp/
.dvc/cache

.snakemake/

data/presence/
